In [ ]:
#################
# import and status session
#################
#

In [1]:
# just to convert  escape char to UTF-8 

from urllib.parse import urlparse
from urllib.parse import unquote

#input=""" https://auth.tdameritrade.com/auth?response_type=code&redirect_uri=http%3A%2F%2Flocalhost%2Ftest&client_id=K4OAZ0RGJBLI4VEBPOXZFUNFACKWPNNF%40AMER.OAUTHAP"""

input="""osAmmt59C17kefWI6AfViU4tEUW65Y60c3MJQZtX6npS5zRwyAjxv5Qs8UN27furKW3%2BksEpaVYcAMqn83HCZsEhYcpeRUZUtJbC9c9S0Xs5B5TMsX7HeGNKohlYcWr1svBfkjnasHpclBOpGcPbCqPPa%2Fn3QluMnH9mzwfYCWMA50ZwIChJHnVLffqh%2BwJv4IwajG90kTQ7E3Y4tD2LD9EdYWnL%2FX%2BMzWt9wEV5wOby8MeT8v%2FuktEUuhGBrVrChZFaq%2BtkNDSFmjQIzx9umhyiff83Lcvdukn51PWD13YJapD6tCAS1gBwR3wVcgOOCVDX6LtSl39Gcb25K58p5nn16ZOAKjY39KD8Tfo771qaha%2BTe678%2FuYGFmGgQuLXRbmm%2BypEpgt%2BeFBa0UUKopfW1oo94Y72lL6Gi2%2B%2Bf%2B2IB9MV5znutozG6WA100MQuG4LYrgoVi%2FJHHvlAY4XEDKn8ut5SwPrDjf26vN9WVgX8Nv6psymOMzvjvuVzv5qmgRZ5qmu7gZnH7Q6JvKqpyJeQD93boeAsOKP7P9ICwyVS7PREmHepzL3KBu54TrVgsfyuIf36%2FWaKMoKHfb%2FCx4J%2BPzaFR%2B8547vkkrc%2BBcHTH%2BG7T635dv%2BNLpTfYdY1rotTPjdXfjNdTnIEBDDsnCS2nW6NbmBvReRfQXS75d0%2BGyz3n9eRlQr0%2Fr658Vd0VSyeUKpINXnTqk873tMfMz7cRWQsh%2Bkrf%2Bpjsmgj1SnpKDGzblrDXBoE5%2Fob1h4jubqRKEhA7pYS7OAOba%2FowukBgnmM8oGESAwYejDF7Kb5lB8ESoHYIJuppbAUywnfRc3f%2BFgBFucdnadcJ3jI9Y5EDtIo2BmBZOvT5bpE%2Banwn1r1%2Fdl8ydpcecyBeDyrEMUDQwaj1A%3D212FD3x19z9sWBHDJACbC00B75E"""
o = unquote(input)
# 0327/2021, works well just to convert escape character back to UTF-8 coding 
# 
o

'osAmmt59C17kefWI6AfViU4tEUW65Y60c3MJQZtX6npS5zRwyAjxv5Qs8UN27furKW3+ksEpaVYcAMqn83HCZsEhYcpeRUZUtJbC9c9S0Xs5B5TMsX7HeGNKohlYcWr1svBfkjnasHpclBOpGcPbCqPPa/n3QluMnH9mzwfYCWMA50ZwIChJHnVLffqh+wJv4IwajG90kTQ7E3Y4tD2LD9EdYWnL/X+MzWt9wEV5wOby8MeT8v/uktEUuhGBrVrChZFaq+tkNDSFmjQIzx9umhyiff83Lcvdukn51PWD13YJapD6tCAS1gBwR3wVcgOOCVDX6LtSl39Gcb25K58p5nn16ZOAKjY39KD8Tfo771qaha+Te678/uYGFmGgQuLXRbmm+ypEpgt+eFBa0UUKopfW1oo94Y72lL6Gi2++f+2IB9MV5znutozG6WA100MQuG4LYrgoVi/JHHvlAY4XEDKn8ut5SwPrDjf26vN9WVgX8Nv6psymOMzvjvuVzv5qmgRZ5qmu7gZnH7Q6JvKqpyJeQD93boeAsOKP7P9ICwyVS7PREmHepzL3KBu54TrVgsfyuIf36/WaKMoKHfb/Cx4J+PzaFR+8547vkkrc+BcHTH+G7T635dv+NLpTfYdY1rotTPjdXfjNdTnIEBDDsnCS2nW6NbmBvReRfQXS75d0+Gyz3n9eRlQr0/r658Vd0VSyeUKpINXnTqk873tMfMz7cRWQsh+krf+pjsmgj1SnpKDGzblrDXBoE5/ob1h4jubqRKEhA7pYS7OAOba/owukBgnmM8oGESAwYejDF7Kb5lB8ESoHYIJuppbAUywnfRc3f+FgBFucdnadcJ3jI9Y5EDtIo2BmBZOvT5bpE+anwn1r1/dl8ydpcecyBeDyrEMUDQwaj1A=212FD3x19z9sWBHDJACbC00B75E'

In [1]:
# https://technical-analysis-library-in-python.readthedocs.io/en/latest/
from ta import add_all_ta_features 
from ta.utils import dropna

In [2]:
#w 041721, works on 20220218 just an example
import requests
yAPIk='K4OAZ0RGJBLI4VEBPOXZFUNFACKWPNNF'
yAccessid="""OLq4cWAGeV3Ivv3QDNFcQpllfQpzFay2xlzSDyHsViYUH4Ls8A1Vu42lKzUK6bck09QoHS4nOyT0EYA7upCc/EO4Io1QOoNmvu5do0DE2zjA4gaUqA5Kth39lNjRieKceqp7nYLSN1mrW1kMxTBJrqXBWzx5EAL0Z55Ur3wOraDxr0dme3jYBw4yg0WSJOSARGB+XciwmA5J6FyHi0GFQ8NipM7dJYbC2icJMU/LlhdkRtthdd3uKxsmGtf+v+knnFw968zEfWPaD3sKbmIrH3gk/66oQQWXDQv9BbNtaHgoYjDjMFUrXyAXEIsJAax7lqGQHRqXhAxQ2AiaYwk1MZwxf4eTeZYEAQ8RfsZECKuN1n9UPpEEnzCDZhK8xFMq6R03RfhifjaH/zDyjoz4goO+4/wCIt0HmbpTHt6oU/tXl9ExI2DMcqSq0NaHp46d0j45264pMeT53ZcpmrZ3iML6tuW57HqcqBVHZjnkdLvqBB3wHC2K9t3ATaeoozkaKpr/FgiI/BLTJAg3bm6oPFehBXrcMhKRyMNd3100MQuG4LYrgoVi/JHHvl4qWI0Y7/J7/mRFpNUOO5k+c30o5g5LLWOE19+YytBlANFeNP0Ea5MF94Zu6amXMIXpW/A6vbABrg3wbQrud0VaHoJ/Go+KOtlL33TlGxs0wJJgJ6JxJVm0mV5od/Hb63nLXx52UkbEUomGJsglsfv6FJeULSJRMe4ZtbS4aN7D9qt1QQZ5SHgKe4TlAUFCbyc4D6b9Ob669TftqvRoczKg3gsIxF7DOU8nrgozX9w2oEYILN0BGnua/4CZRLDHNVdN/7N+gtDrG467RH2LYz5Fub8YUYSpPEWzW+m1Ni3xR9aWAGyQ8dXj+OQuiy0egA3re/8jWTQ6EB7G00ksfkBF7Ypurr0JGOiypLh8oaTUv9mB5JYaaQbNmNU2KBRdhv8atMGR+KnWf7OBxB2FjlutTyVjcudDiGhrGU9IvtfmlgIidAFPj7hZwM76qkeHMWfX4IrJTHcqz/5wdbRPqRzgvd/pi1hQSZBOknaLseNxe4YJ+J6V8R655uKgcJ5IePYiohC5Jhe/CCYjY+gWj2rrJ30fGTNPwjLmp+nl212FD3x19z9sWBHDJACbC00B75E"""

ep=r"https://api.tdameritrade.com/v1/marketdata/{}/quotes".format('qqq')
pl={'apikey': yAPIk}

content=requests.get(url=ep,params=pl)
content
data=content.json()
data

{'QQQ': {'assetType': 'ETF',
  'assetMainType': 'EQUITY',
  'cusip': '46090E103',
  'assetSubType': 'ETF',
  'symbol': 'QQQ',
  'description': 'Invesco QQQ Trust, Series 1',
  'bidPrice': 339.25,
  'bidSize': 100,
  'bidId': 'Q',
  'askPrice': 339.35,
  'askSize': 100,
  'askId': 'P',
  'lastPrice': 339.35,
  'lastSize': 0,
  'lastId': 'D',
  'openPrice': 346.41,
  'highPrice': 346.81,
  'lowPrice': 339.14,
  'bidTick': ' ',
  'closePrice': 345.45,
  'netChange': -6.1,
  'totalVolume': 80001513,
  'quoteTimeInLong': 1645232393566,
  'tradeTimeInLong': 1645232398868,
  'mark': 341.51,
  'exchange': 'q',
  'exchangeName': 'NASD',
  'marginable': True,
  'shortable': True,
  'volatility': 0.0097,
  'digits': 4,
  '52WkHigh': 408.71,
  '52WkLow': 297.45,
  'nAV': 0.0,
  'peRatio': 0.0,
  'divAmount': 0.8278,
  'divYield': 0.24,
  'divDate': '2021-12-20 00:00:00.000',
  'securityStatus': 'Normal',
  'regularMarketLastPrice': 341.51,
  'regularMarketLastSize': 6105,
  'regularMarketNetChange': -3.94,
  'regularMarketTradeTimeInLong': 1645218000623,
  'netPercentChangeInDouble': -1.7658,
  'markChangeInDouble': -3.94,
  'markPercentChangeInDouble': -1.1405,
  'regularMarketPercentChangeInDouble': -1.1405,
  'delayed': True,
  'realtimeEntitled': False}}

In [3]:
# works on 4/6
import requests
yAPIk='K4OAZ0RGJBLI4VEBPOXZFUNFACKWPNNF'

ep=r"https://api.tdameritrade.com/v1/marketdata/quotes"
pl={'apikey': yAPIk,
     'symbol':'GOOG,MSFT,AAPL,PINS'}

content=requests.get(url=ep,params=pl)
content
data=content.json()
data

{'GOOG': {'assetType': 'EQUITY',
  'assetMainType': 'EQUITY',
  'cusip': '02079K107',
  'symbol': 'GOOG',
  'description': 'Alphabet Inc. - Class C Capital Stock',
  'bidPrice': 2597.01,
  'bidSize': 100,
  'bidId': 'Z',
  'askPrice': 2600.0,
  'askSize': 600,
  'askId': 'Q',
  'lastPrice': 2600.0,
  'lastSize': 0,
  'lastId': 'Q',
  'openPrice': 2660.75,
  'highPrice': 2676.48,
  'lowPrice': 2606.1404,
  'bidTick': ' ',
  'closePrice': 2646.1699,
  'netChange': -46.17,
  'totalVolume': 1592930,
  'quoteTimeInLong': 1645232369642,
  'tradeTimeInLong': 1645232399315,
  'mark': 2609.35,
  'exchange': 'q',
  'exchangeName': 'NASD',
  'marginable': True,
  'shortable': True,
  'volatility': 0.0583,
  'digits': 4,
  '52WkHigh': 3042.0,
  '52WkLow': 2002.02,
  'nAV': 0.0,
  'peRatio': 24.15,
  'divAmount': 0.0,
  'divYield': 0.0,
  'divDate': '',
  'securityStatus': 'Normal',
  'regularMarketLastPrice': 2609.3501,
  'regularMarketLastSize': 1500,
  'regularMarketNetChange': -36.82,
  'regularMarketTradeTimeInLong': 1645218000954,
  'netPercentChangeInDouble': -1.7448,
  'markChangeInDouble': -36.8199,
  'markPercentChangeInDouble': -1.3914,
  'regularMarketPercentChangeInDouble': -1.3914,
  'delayed': True,
  'realtimeEntitled': False},
 'MSFT': {'assetType': 'EQUITY',
  'assetMainType': 'EQUITY',
  'cusip': '594918104',
  'symbol': 'MSFT',
  'description': 'Microsoft Corporation - Common Stock',
  'bidPrice': 285.75,
  'bidSize': 100,
  'bidId': 'P',
  'askPrice': 285.97,
  'askSize': 200,
  'askId': 'P',
  'lastPrice': 285.8,
  'lastSize': 0,
  'lastId': 'P',
  'openPrice': 293.05,
  'highPrice': 293.86,
  'lowPrice': 286.305,
  'bidTick': ' ',
  'closePrice': 290.73,
  'netChange': -4.93,
  'totalVolume': 34264008,
  'quoteTimeInLong': 1645232395679,
  'tradeTimeInLong': 1645232395957,
  'mark': 287.93,
  'exchange': 'q',
  'exchangeName': 'NASD',
  'marginable': True,
  'shortable': True,
  'volatility': 0.0198,
  'digits': 4,
  '52WkHigh': 349.67,
  '52WkLow': 224.26,
  'nAV': 0.0,
  'peRatio': 31.8646,
  'divAmount': 2.48,
  'divYield': 0.85,
  'divDate': '2022-02-16 00:00:00.000',
  'securityStatus': 'Normal',
  'regularMarketLastPrice': 287.93,
  'regularMarketLastSize': 39105,
  'regularMarketNetChange': -2.8,
  'regularMarketTradeTimeInLong': 1645218000578,
  'netPercentChangeInDouble': -1.6957,
  'markChangeInDouble': -2.8,
  'markPercentChangeInDouble': -0.9631,
  'regularMarketPercentChangeInDouble': -0.9631,
  'delayed': True,
  'realtimeEntitled': False},
 'AAPL': {'assetType': 'EQUITY',
  'assetMainType': 'EQUITY',
  'cusip': '037833100',
  'symbol': 'AAPL',
  'description': 'Apple Inc. - Common Stock',
  'bidPrice': 166.48,
  'bidSize': 600,
  'bidId': 'Q',
  'askPrice': 166.59,
  'askSize': 100,
  'askId': 'P',
  'lastPrice': 166.5,
  'lastSize': 0,
  'lastId': 'P',
  'openPrice': 169.82,
  'highPrice': 170.5413,
  'lowPrice': 166.19,
  'bidTick': ' ',
  'closePrice': 168.88,
  'netChange': -2.38,
  'totalVolume': 82772674,
  'quoteTimeInLong': 1645232398402,
  'tradeTimeInLong': 1645232399754,
  'mark': 167.3,
  'exchange': 'q',
  'exchangeName': 'NASD',
  'marginable': True,
  'shortable': True,
  'volatility': 0.0105,
  'digits': 4,
  '52WkHigh': 182.94,
  '52WkLow': 116.21,
  'nAV': 0.0,
  'peRatio': 28.6473,
  'divAmount': 0.88,
  'divYield': 0.52,
  'divDate': '2022-02-04 00:00:00.000',
  'securityStatus': 'Normal',
  'regularMarketLastPrice': 167.3,
  'regularMarketLastSize': 69697,
  'regularMarketNetChange': -1.58,
  'regularMarketTradeTimeInLong': 1645218000481,
  'netPercentChangeInDouble': -1.4093,
  'markChangeInDouble': -1.58,
  'markPercentChangeInDouble': -0.9356,
  'regularMarketPercentChangeInDouble': -0.9356,
  'delayed': True,
  'realtimeEntitled': False},
 'PINS': {'assetType': 'EQUITY',
  'assetMainType': 'EQUITY',
  'cusip': '72352L106',
  'symbol': 'PINS',
  'description': 'Pinterest, Inc. Class A Common Stock',
  'bidPrice': 23.45,
  'bidSize': 500,
  'bidId': 'P',
  'askPrice': 23.61,
  'askSize': 200,
  'askId': 'P',
  'lastPrice': 23.86,
  'lastSize': 0,
  'lastId': 'N',
  'openPrice': 24.72,
  'highPrice': 25.04,
  'lowPrice': 23.61,
  'bidTick': ' ',
  'closePrice': 24.69,
  'netChange': -0.83,
  'totalVolume': 10701375,
  'quoteTimeInLong': 1645232400935,
  'tradeTimeInLong': 1645232377778,
  'mark': 23.86,
  'exchange': 'n',
  'exchangeName': 'NYSE',
  'marginable': True,
  'shortable': True,
  'volatility': 0.0286,
  'digits': 2,
  '52WkHigh': 88.83,
  '52WkLow': 23.61,
  'nAV': 0.0,
  'peRatio': 52.51,
  'divAmount': 0.0,
  'divYield': 0.0,
  'divDate': '',
  'securityStatus': 'Normal',
  'regularMarketLastPrice': 23.86,
  'regularMarketLastSize': 5292,
  'regularMarketNetChange': -0.83,
  'regularMarketTradeTimeInLong': 1645228800003,
  'netPercentChangeInDouble': -3.3617,
  'markChangeInDouble': -0.83,
  'markPercentChangeInDouble': -3.3617,
  'regularMarketPercentChangeInDouble': -3.3617,
  'delayed': True,
  'realtimeEntitled': False}}

In [ ]:
# for  time string 
import time
import datetime
#https://www.w3schools.com/python/python_datetime.asp

def epoch_date( yYr=0, yMo=1, yDate=1):
     if yYr >1980 and yMo >0 and yMo <13 and yDate >0 and yDate<31  :
         yDate=datetime.datetime(yYr,yMo, yDate)
     else :
         yDate=datetime.datetime.now()

     print (yDate.strftime("%x"))
     return round(yDate.timestamp()* 1000)


yTime=datetime.datetime.now(); 
print("current time is {}".format(yTime) )
print( yTime.strftime("%H:%M:%S" ) )
print (yTime.strftime("%x"))


yTS=yTime.timestamp()
print("Timestamp:", yTS)
yD2=epoch_date(2010)
print("yD2:", yD2)


yDT=datetime.datetime.fromtimestamp(yD2/1000)
print("yDT:", yDT)

print("yD2 to strftime: {}  ".format(yDT.strftime('%x') ))

In [4]:
### working this on 4/18 as class and functions 
import requests
import numpy as np
import pandas as pd 
import a_utils

class StockInfoBroker: 
     def __init__(self, broker_nm):
        self.brokernm = broker_nm
        self.usernm = None
        self.userpwd = None
        self.apiURL=None
        self.accesskey=None



def t_TDA_Price_Hist ( APIK='', PlayLoad='', APIURL='', Symbol='', StartDTStamp=0, EndDTStamp=0 ): 
# epoch time in ms, typically requires *1000 

     if StartDTStamp==0:
          StartDTStamp=1577865600  #2020/1/1


     if EndDTStamp==0:
          EndDTStamp=datetime.datetime.today().timestamp()

     StartDTStamp =StartDTStamp*1000
     EndDTStamp =EndDTStamp*1000
     
     if APIK=='' : 
          APIK='K4OAZ0RGJBLI4VEBPOXZFUNFACKWPNNF'
        #  yAPIk='K4OAZ0RGJBLI4VEBPOXZFUNFACKWPNNF'
     if PlayLoad=='' : 
          PlayLoad={'apikey': APIK,
               'periodType':'month',
               'period':'1',
               "frequencyType":'daily',
               'frequency':'1',
               'endDate':EndDTStamp,
               'startDate':StartDTStamp,
               'needExtendedHoursDat':'false'
               }

     if Symbol=='':
          Symbol='AMD'

     #print( 'Symbol=',Symbol,'APIURL=', APIURL)
     if APIURL=='':
          APIURL="https://api.tdameritrade.com/v1/marketdata/{}/pricehistory".format(Symbol)


     #print( 'Symbol=',Symbol,'APIURL=', APIURL, 'pl=', PlayLoad)
     content=requests.get(url=APIURL,params=PlayLoad)
     hist_data=content.json()
     
     hist_df=pd.json_normalize(hist_data, record_path= ['candles'], meta=["symbol", 'empty'])

     #shuffle dataframe a bit
     df_cols=hist_df.columns.tolist() 
     df_cols=df_cols[-2:-1]+df_cols[:-2]  # omitting "empty column"

     hist_df=hist_df[df_cols]

     return hist_df

In [6]:
### testing  TDA_Price_Hist ( APIK='', PlayLoad='', APIURL='', Symbol='', StartDTStamp=0, EndDTStamp=0 ): 

yEDate=a_utils.epoch_date_stamp()
ySDate=a_utils.epoch_from_today( Yr=1, Mo=0, Day=0) 

print ('end date', yEDate)
print ('start Date', ySDate)

co="AMZN"

hist_df =t_TDA_Price_Hist (Symbol=co, StartDTStamp=ySDate, EndDTStamp=yEDate ) 
hist_df

end date 1645249922
start Date 1613713922

    symbol     open       high      low    close   volume       datetime
0     AMZN  3328.23  3333.5000  3245.75  3249.90  4305184  1613714400000
1     AMZN  3208.13  3232.3199  3172.26  3180.74  3515679  1613973600000
2     AMZN  3127.03  3204.7300  3093.60  3194.50  4677222  1614060000000
3     AMZN  3166.75  3171.2300  3125.38  3159.53  3011275  1614146400000
4     AMZN  3136.74  3178.2600  3047.76  3057.16  4533801  1614232800000
..     ...      ...        ...      ...      ...      ...            ...
249   AMZN  3035.02  3168.9663  3033.00  3103.34  4161535  1644818400000
250   AMZN  3152.11  3160.1400  3092.75  3130.21  2848533  1644904800000
251   AMZN  3115.81  3176.6800  3094.69  3162.01  2635214  1644991200000
252   AMZN  3162.92  3206.9750  3090.00  3093.05  3201625  1645077600000
253   AMZN  3109.99  3109.9900  3017.86  3057.99  1258137  1645160400000

[254 rows x 7 columns]

In [8]:
# testing TDA_Price_Hist ( APIK='', PlayLoad='', APIURL='', Symbol='', StartDTStamp=0, EndDTStamp=0 ):  in py file 
import a_TDA_IF 

yEDate=a_utils.epoch_date_stamp()
ySDate=a_utils.epoch_from_today( Yr=1, Mo=0, Day=0) 

print ('end date', yEDate)
print ('start Date', ySDate)

co="AMZN"

hist_df =a_TDA_IF.TDA_Price_Hist (Symbol=co, StartDTStamp=ySDate, EndDTStamp=0) 
hist_df

end date 1619423367
start Date 1587887367

    symbol     open       high        low    close   volume       datetime
0     AMZN  2443.20  2444.8800  2363.0000  2376.00  5645645  1587963600000
1     AMZN  2372.10  2373.5000  2306.0000  2314.08  5269446  1588050000000
2     AMZN  2330.01  2391.8900  2310.0000  2372.71  4591593  1588136400000
3     AMZN  2419.84  2475.0000  2396.0100  2474.00  9534611  1588222800000
4     AMZN  2336.80  2362.4400  2258.1901  2286.04  9772605  1588309200000
..     ...      ...        ...        ...      ...      ...            ...
246   AMZN  3390.33  3435.9333  3360.1600  3372.01  2725405  1618808400000
247   AMZN  3373.60  3382.9900  3316.0000  3334.69  2623032  1618894800000
248   AMZN  3316.00  3362.8600  3303.8061  3362.02  2211166  1618981200000
249   AMZN  3371.68  3372.8700  3301.4500  3309.04  2580590  1619067600000
250   AMZN  3319.10  3375.0000  3308.5000  3340.88  3196652  1619154000000

[251 rows x 7 columns]

In [7]:
### working this on 4/18
import requests
import numpy as np
import pandas as pd 
import a_utils


#https://technical-analysis-library-in-python.readthedocs.io/en/latest/
from ta import add_all_ta_features 
from ta.utils import dropna


yAPIk='K4OAZ0RGJBLI4VEBPOXZFUNFACKWPNNF'

yEDate=str(a_utils.epoch_date_stamp()*1000)
ySDate=str(a_utils.epoch_from_today( Yr=1, Mo=0, Day=0)*1000) 

print ('end date', yEDate)
print ('start Date', ySDate)

co="AMD"
ep=r"https://api.tdameritrade.com/v1/marketdata/{}/pricehistory".format(co)

print ('ep=', ep )
pl={'apikey': yAPIk,
     'periodType':'month',
     'period':'1',
    "frequencyType":'daily',
    'frequency':'1',
    'endDate':yEDate,
    'startDate':ySDate,
     'needExtendedHoursDat':'false'
     }

content=requests.get(url=ep,params=pl)
print (content) 

hist_data=content.json()

# 
#https://towardsdatascience.com/all-pandas-json-normalize-you-should-know-for-flattening-json-13eae1dfb7dd
hist_df=pd.json_normalize(hist_data, record_path= ['candles'], meta=["symbol", 'empty'])
hist_df

df_cols=hist_df.columns.tolist() 
df_cols=df_cols[-2:-1]+df_cols[:-2]  # omitting "empty column"
hist_df=hist_df[df_cols]
hist_df 

df1=dropna(hist_df)

hist_df

end date 1645249977000
start Date 1613713977000
ep= https://api.tdameritrade.com/v1/marketdata/AMD/pricehistory
<Response [200]>

    symbol    open      high     low   close     volume       datetime
0      AMD   89.75   90.4163   88.69   89.58   29548273  1613714400000
1      AMD   88.15   88.3000   85.21   85.37   36930182  1613973600000
2      AMD   83.40   85.1100   79.36   84.74   49720914  1614060000000
3      AMD   84.33   87.0900   82.81   86.94   40821150  1614146400000
4      AMD   86.17   87.0900   81.92   82.42   54625140  1614232800000
..     ...     ...       ...     ...     ...        ...            ...
249    AMD  115.51  118.3700  113.46  114.27  135146410  1644818400000
250    AMD  117.19  121.8800  114.36  121.47  144139670  1644904800000
251    AMD  119.05  119.5400  114.22  117.69  119109631  1644991200000
252    AMD  116.26  116.9800  112.26  112.37   98179641  1645077600000
253    AMD  113.90  115.6350  109.89  113.99   98234002  1645160400000

[254 rows x 7 columns]

In [8]:
### works on 4/6
import requests
import numpy as np
import pandas as pd 
#from a_utils import epoch_date_stamp as EDStamp
import a_utils
#utils.epoch_date_stamp( yYr=0, yMo=1, yDate=1)

#https://technical-analysis-library-in-python.readthedocs.io/en/latest/
from ta import add_all_ta_features 
from ta.utils import dropna


#a_utils.DF2CSV(df1, 'path', 'filenm', tmstr='a')
a_utils.epoch_date_stamp(2021,2,1)

#yTS=a_utils.epoch_date_stamp(2021,1,1)

yAPIk='K4OAZ0RGJBLI4VEBPOXZFUNFACKWPNNF'
ySDate=str(a_utils.epoch_date_stamp(2021,1,1))
yEDate=str(a_utils.epoch_date_stamp(0)) 

ep=r"https://api.tdameritrade.com/v1/marketdata/{}/pricehistory".format('GOOG')
pl={'apikey': yAPIk,
     'periodType':'month',
     'period':'1',
    "frequencyType":'daily',
    'frequency':'1',
    'endDate':yEDate,
    'startDate':ySDate,
     'needExtendedHoursDat':'false'
     }

content=requests.get(url=ep,params=pl)
content
hist_data=content.json()

# 4/08 continue
#https://towardsdatascience.com/all-pandas-json-normalize-you-should-know-for-flattening-json-13eae1dfb7dd
hist_df=pd.json_normalize(hist_data, record_path= ['candles'], meta=["symbol", 'empty'])
hist_df

df_cols=hist_df.columns.tolist() 
df_cols=df_cols[-2:-1]+df_cols[:-2]  # omitting "empty column"
hist_df=hist_df[df_cols]
hist_df 

df1=dropna(hist_df)

df1

Empty DataFrame
Columns: [symbol]
Index: []

In [9]:
import talib


#https://www.geeksforgeeks.org/adding-new-column-to-existing-dataframe-in-pandas/
ySMA=talib.SMA(df1['close'].values, timeperiod=10)

# df1["SMA"]=ySMA ##works   
df1.insert(5,"SMA",  ySMA, True) #works too 
df1

KeyError: 'close'

In [1]:
print (df1['datetime'].dtype)

df1['Date']= pd.to_datetime(df1['datetime'], unit='ms')  #wk , input is EPOC 13 digit decimal fomrat, e.g. 1609740000000

print( df1['Date'].dtype)
df1.iLoc[-1,6]

NameError: name 'df1' is not defined

In [ ]:
# new way, (from timestamp to string ) to convert DF to np index to pydatetime
#df2=df1
df1['date1'] =df1['Date'].dt.strftime('%x')  # %x ='%m/%d/%y'
# df. series. range. which is a datetime obj will have strftime function
# https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior


df1
df_TDA=df1
yDSTDA=pd.Series(df_TDA['close'].values, index=df_TDA['Date'])
type(yDSTDA.index)


# works with TechnicalIndicatorsChartPlotter:

In [ ]:
#df1 to np array can convery pd datetime to np timestamp, timestamp is good for matloplib


yNPA= df1.to_numpy()
print('yNPA shape=', yNPA.shape) 

#print (yNPA[:,8].dtype.name) 
#print (yNPA[:,8]) 
#print (yNPA[:,7].dtype.name)  #object
#print (yNPA[:,7]) 

#yNpA1=np.array(yNPA[:,7]) 

#yNpA2=np.datetime_as_string(yNpA1)
#print (yNpA1.dtype.name)  
#print (yNpA1)

#yNpA1=yNpA1.astype("int64")  # before is an object 
# print (yNpA1.dtype.name)   

#nw np.datetime_as_string( yNPA[:,7], unit='D')
#yNPA[:, 9]
#print (yNPA)
# print (yNpDT)
# print (yNPA[:,7])

#n/w: yNpA2=datetime.datetime.fromtimestamp (yNpDT /1000)
# yNpA2=(yNpDT /1000)
#yNpA2=np.datetime_as_string(yNpDT)
#print (yNPA)

print (" type: ",yNPA[1:,8].dtype.name) 
print ( yNPA [0:5 , :] )