In [ ]:
#################
# import and status session
#################
#

In [5]:
# just to convert  escape char to UTF-8 

from urllib.parse import urlparse
from urllib.parse import unquote

#input=""" https://auth.tdameritrade.com/auth?response_type=code&redirect_uri=http%3A%2F%2Flocalhost%2Ftest&client_id=K4OAZ0RGJBLI4VEBPOXZFUNFACKWPNNF%40AMER.OAUTHAP"""

input="""osAmmt59C17kefWI6AfViU4tEUW65Y60c3MJQZtX6npS5zRwyAjxv5Qs8UN27furKW3%2BksEpaVYcAMqn83HCZsEhYcpeRUZUtJbC9c9S0Xs5B5TMsX7HeGNKohlYcWr1svBfkjnasHpclBOpGcPbCqPPa%2Fn3QluMnH9mzwfYCWMA50ZwIChJHnVLffqh%2BwJv4IwajG90kTQ7E3Y4tD2LD9EdYWnL%2FX%2BMzWt9wEV5wOby8MeT8v%2FuktEUuhGBrVrChZFaq%2BtkNDSFmjQIzx9umhyiff83Lcvdukn51PWD13YJapD6tCAS1gBwR3wVcgOOCVDX6LtSl39Gcb25K58p5nn16ZOAKjY39KD8Tfo771qaha%2BTe678%2FuYGFmGgQuLXRbmm%2BypEpgt%2BeFBa0UUKopfW1oo94Y72lL6Gi2%2B%2Bf%2B2IB9MV5znutozG6WA100MQuG4LYrgoVi%2FJHHvlAY4XEDKn8ut5SwPrDjf26vN9WVgX8Nv6psymOMzvjvuVzv5qmgRZ5qmu7gZnH7Q6JvKqpyJeQD93boeAsOKP7P9ICwyVS7PREmHepzL3KBu54TrVgsfyuIf36%2FWaKMoKHfb%2FCx4J%2BPzaFR%2B8547vkkrc%2BBcHTH%2BG7T635dv%2BNLpTfYdY1rotTPjdXfjNdTnIEBDDsnCS2nW6NbmBvReRfQXS75d0%2BGyz3n9eRlQr0%2Fr658Vd0VSyeUKpINXnTqk873tMfMz7cRWQsh%2Bkrf%2Bpjsmgj1SnpKDGzblrDXBoE5%2Fob1h4jubqRKEhA7pYS7OAOba%2FowukBgnmM8oGESAwYejDF7Kb5lB8ESoHYIJuppbAUywnfRc3f%2BFgBFucdnadcJ3jI9Y5EDtIo2BmBZOvT5bpE%2Banwn1r1%2Fdl8ydpcecyBeDyrEMUDQwaj1A%3D212FD3x19z9sWBHDJACbC00B75E"""
o = unquote(input)
# 0327/2021, works well just to convert escape character back to UTF-8 coding 
# 
o

'osAmmt59C17kefWI6AfViU4tEUW65Y60c3MJQZtX6npS5zRwyAjxv5Qs8UN27furKW3+ksEpaVYcAMqn83HCZsEhYcpeRUZUtJbC9c9S0Xs5B5TMsX7HeGNKohlYcWr1svBfkjnasHpclBOpGcPbCqPPa/n3QluMnH9mzwfYCWMA50ZwIChJHnVLffqh+wJv4IwajG90kTQ7E3Y4tD2LD9EdYWnL/X+MzWt9wEV5wOby8MeT8v/uktEUuhGBrVrChZFaq+tkNDSFmjQIzx9umhyiff83Lcvdukn51PWD13YJapD6tCAS1gBwR3wVcgOOCVDX6LtSl39Gcb25K58p5nn16ZOAKjY39KD8Tfo771qaha+Te678/uYGFmGgQuLXRbmm+ypEpgt+eFBa0UUKopfW1oo94Y72lL6Gi2++f+2IB9MV5znutozG6WA100MQuG4LYrgoVi/JHHvlAY4XEDKn8ut5SwPrDjf26vN9WVgX8Nv6psymOMzvjvuVzv5qmgRZ5qmu7gZnH7Q6JvKqpyJeQD93boeAsOKP7P9ICwyVS7PREmHepzL3KBu54TrVgsfyuIf36/WaKMoKHfb/Cx4J+PzaFR+8547vkkrc+BcHTH+G7T635dv+NLpTfYdY1rotTPjdXfjNdTnIEBDDsnCS2nW6NbmBvReRfQXS75d0+Gyz3n9eRlQr0/r658Vd0VSyeUKpINXnTqk873tMfMz7cRWQsh+krf+pjsmgj1SnpKDGzblrDXBoE5/ob1h4jubqRKEhA7pYS7OAOba/owukBgnmM8oGESAwYejDF7Kb5lB8ESoHYIJuppbAUywnfRc3f+FgBFucdnadcJ3jI9Y5EDtIo2BmBZOvT5bpE+anwn1r1/dl8ydpcecyBeDyrEMUDQwaj1A=212FD3x19z9sWBHDJACbC00B75E'

In [8]:
# 
https://technical-analysis-library-in-python.readthedocs.io/en/latest/
from ta import add_all_ta_features 
from ta.utils import dropna

SyntaxError: invalid syntax (<ipython-input-8-c093968ca902>, line 2)

In [9]:
#w 041721, just an example
import requests
yAPIk='K4OAZ0RGJBLI4VEBPOXZFUNFACKWPNNF'
yAccessid="""OLq4cWAGeV3Ivv3QDNFcQpllfQpzFay2xlzSDyHsViYUH4Ls8A1Vu42lKzUK6bck09QoHS4nOyT0EYA7upCc/EO4Io1QOoNmvu5do0DE2zjA4gaUqA5Kth39lNjRieKceqp7nYLSN1mrW1kMxTBJrqXBWzx5EAL0Z55Ur3wOraDxr0dme3jYBw4yg0WSJOSARGB+XciwmA5J6FyHi0GFQ8NipM7dJYbC2icJMU/LlhdkRtthdd3uKxsmGtf+v+knnFw968zEfWPaD3sKbmIrH3gk/66oQQWXDQv9BbNtaHgoYjDjMFUrXyAXEIsJAax7lqGQHRqXhAxQ2AiaYwk1MZwxf4eTeZYEAQ8RfsZECKuN1n9UPpEEnzCDZhK8xFMq6R03RfhifjaH/zDyjoz4goO+4/wCIt0HmbpTHt6oU/tXl9ExI2DMcqSq0NaHp46d0j45264pMeT53ZcpmrZ3iML6tuW57HqcqBVHZjnkdLvqBB3wHC2K9t3ATaeoozkaKpr/FgiI/BLTJAg3bm6oPFehBXrcMhKRyMNd3100MQuG4LYrgoVi/JHHvl4qWI0Y7/J7/mRFpNUOO5k+c30o5g5LLWOE19+YytBlANFeNP0Ea5MF94Zu6amXMIXpW/A6vbABrg3wbQrud0VaHoJ/Go+KOtlL33TlGxs0wJJgJ6JxJVm0mV5od/Hb63nLXx52UkbEUomGJsglsfv6FJeULSJRMe4ZtbS4aN7D9qt1QQZ5SHgKe4TlAUFCbyc4D6b9Ob669TftqvRoczKg3gsIxF7DOU8nrgozX9w2oEYILN0BGnua/4CZRLDHNVdN/7N+gtDrG467RH2LYz5Fub8YUYSpPEWzW+m1Ni3xR9aWAGyQ8dXj+OQuiy0egA3re/8jWTQ6EB7G00ksfkBF7Ypurr0JGOiypLh8oaTUv9mB5JYaaQbNmNU2KBRdhv8atMGR+KnWf7OBxB2FjlutTyVjcudDiGhrGU9IvtfmlgIidAFPj7hZwM76qkeHMWfX4IrJTHcqz/5wdbRPqRzgvd/pi1hQSZBOknaLseNxe4YJ+J6V8R655uKgcJ5IePYiohC5Jhe/CCYjY+gWj2rrJ30fGTNPwjLmp+nl212FD3x19z9sWBHDJACbC00B75E"""

ep=r"https://api.tdameritrade.com/v1/marketdata/{}/quotes".format('qqq')
pl={'apikey': yAPIk}

content=requests.get(url=ep,params=pl)
content
data=content.json()
data

{'QQQ': {'assetType': 'ETF',
  'assetMainType': 'EQUITY',
  'cusip': '46090E103',
  'assetSubType': 'ETF',
  'symbol': 'QQQ',
  'description': 'Invesco QQQ Trust, Series 1',
  'bidPrice': 338.81,
  'bidSize': 600,
  'bidId': 'Q',
  'askPrice': 338.83,
  'askSize': 100,
  'askId': 'P',
  'lastPrice': 338.83,
  'lastSize': 0,
  'lastId': 'P',
  'openPrice': 340.39,
  'highPrice': 341.58,
  'lowPrice': 336.9016,
  'bidTick': ' ',
  'closePrice': 342.01,
  'netChange': -3.18,
  'totalVolume': 34454496,
  'quoteTimeInLong': 1618870933588,
  'tradeTimeInLong': 1618870929608,
  'mark': 338.83,
  'exchange': 'q',
  'exchangeName': 'NASD',
  'marginable': True,
  'shortable': True,
  'volatility': 0.007,
  'digits': 4,
  '52WkHigh': 342.23,
  '52WkLow': 203.63,
  'nAV': 0.0,
  'peRatio': 0.0,
  'divAmount': 1.7685,
  'divYield': 0.52,
  'divDate': '2021-03-22 00:00:00.000',
  'securityStatus': 'Normal',
  'regularMarketLastPrice': 338.88,
  'regularMarketLastSize': 2171,
  'regularMarketNetChange': -3.13,
  'regularMarketTradeTimeInLong': 1618862400660,
  'netPercentChangeInDouble': -0.9298,
  'markChangeInDouble': -3.18,
  'markPercentChangeInDouble': -0.9298,
  'regularMarketPercentChangeInDouble': -0.9152,
  'delayed': True,
  'realtimeEntitled': False}}

In [ ]:
# works on 4/6
import requests
yAPIk='K4OAZ0RGJBLI4VEBPOXZFUNFACKWPNNF'

ep=r"https://api.tdameritrade.com/v1/marketdata/quotes"
pl={'apikey': yAPIk,
     'symbol':'GOOG,MSFT,AAPL,PINS'}

content=requests.get(url=ep,params=pl)
content
data=content.json()
data

In [10]:
# for  time string 
import time
import datetime
#https://www.w3schools.com/python/python_datetime.asp

def epoch_date( yYr=0, yMo=1, yDate=1):
     if yYr >1980 and yMo >0 and yMo <13 and yDate >0 and yDate<31  :
         yDate=datetime.datetime(yYr,yMo, yDate)
     else :
         yDate=datetime.datetime.now()

     print (yDate.strftime("%x"))
     return round(yDate.timestamp()* 1000)


yTime=datetime.datetime.now(); 
print("current time is {}".format(yTime) )
print( yTime.strftime("%H:%M:%S" ) )
print (yTime.strftime("%x"))


yTS=yTime.timestamp()
print("Timestamp:", yTS)
yD2=epoch_date(2010)
print("yD2:", yD2)


yDT=datetime.datetime.fromtimestamp(yD2/1000)
print("yDT:", yDT)

print("yD2 to strftime: {}  ".format(yDT.strftime('%x') ))

current time is 2021-04-19 18:25:53.070567
18:25:53
04/19/21
Timestamp: 1618881953.070567
01/01/10
yD2: 1262332800000
yDT: 2010-01-01 00:00:00
yD2 to strftime: 01/01/10

In [65]:
### working this on 4/18 as class and functions 
import requests
import numpy as np
import pandas as pd 
import a_utils

class StockInfoBroker: 
     def __init__(self, broker_nm):
        self.brokernm = broker_nm
        self.usernm = None
        self.userpwd = None
        self.apiURL=None
        self.accesskey=None



def t_TDA_Price_Hist ( APIK='', PlayLoad='', APIURL='', Symbol='', StartDTStamp=0, EndDTStamp=0 ): 
# epoch time in ms, typically requires *1000 

     if StartDTStamp==0:
          StartDTStamp=1577865600  #2020/1/1


     if EndDTStamp==0:
          EndDTStamp=datetime.datetime.today().timestamp()

     StartDTStamp =StartDTStamp*1000
     EndDTStamp =EndDTStamp*1000
     
     if APIK=='' : 
          APIK='K4OAZ0RGJBLI4VEBPOXZFUNFACKWPNNF'
        #  yAPIk='K4OAZ0RGJBLI4VEBPOXZFUNFACKWPNNF'
     if PlayLoad=='' : 
          PlayLoad={'apikey': APIK,
               'periodType':'month',
               'period':'1',
               "frequencyType":'daily',
               'frequency':'1',
               'endDate':EndDTStamp,
               'startDate':StartDTStamp,
               'needExtendedHoursDat':'false'
               }

     if Symbol=='':
          Symbol='AMD'

     #print( 'Symbol=',Symbol,'APIURL=', APIURL)
     if APIURL=='':
          APIURL="https://api.tdameritrade.com/v1/marketdata/{}/pricehistory".format(Symbol)


     #print( 'Symbol=',Symbol,'APIURL=', APIURL, 'pl=', PlayLoad)
     content=requests.get(url=APIURL,params=PlayLoad)
     hist_data=content.json()
     
     hist_df=pd.json_normalize(hist_data, record_path= ['candles'], meta=["symbol", 'empty'])

     #shuffle dataframe a bit
     df_cols=hist_df.columns.tolist() 
     df_cols=df_cols[-2:-1]+df_cols[:-2]  # omitting "empty column"

     hist_df=hist_df[df_cols]

     return hist_df

In [68]:
### testing  TDA_Price_Hist ( APIK='', PlayLoad='', APIURL='', Symbol='', StartDTStamp=0, EndDTStamp=0 ): 

yEDate=a_utils.epoch_date_stamp()
ySDate=a_utils.epoch_from_today( Yr=1, Mo=0, Day=0) 

print ('end date', yEDate)
print ('start Date', ySDate)

co="AMZN"

hist_df =TDA_Price_Hist (Symbol=co, StartDTStamp=ySDate, EndDTStamp=yEDate ) 
hist_df

04/18/21
<built-in method timestamp of datetime.datetime object at 0x00000296DF754930>
end date 1618807883
start Date 1587271883

    symbol      open       high      low    close   volume       datetime
0     AMZN  2389.950  2444.9800  2386.05  2393.61  5770694  1587358800000
1     AMZN  2416.610  2428.3099  2279.66  2328.12  7476679  1587445200000
2     AMZN  2369.000  2394.0000  2351.00  2363.49  4218295  1587531600000
3     AMZN  2399.980  2424.2200  2382.08  2399.45  5066552  1587618000000
4     AMZN  2417.000  2420.4332  2382.00  2410.22  3831797  1587704400000
..     ...       ...        ...      ...      ...      ...            ...
246   AMZN  3355.210  3395.0400  3351.15  3379.39  3281798  1618203600000
247   AMZN  3400.845  3432.0000  3395.63  3400.00  3315837  1618290000000
248   AMZN  3404.040  3404.1300  3326.00  3333.00  3145204  1618376400000
249   AMZN  3371.000  3396.9999  3352.00  3379.09  3233580  1618462800000
250   AMZN  3380.000  3406.8000  3355.59  3399.44  3186049  1618549200000

[251 rows x 7 columns]

In [66]:
# testing TDA_Price_Hist ( APIK='', PlayLoad='', APIURL='', Symbol='', StartDTStamp=0, EndDTStamp=0 ):  in py file 
import a_TDA_IF 

yEDate=a_utils.epoch_date_stamp()
ySDate=a_utils.epoch_from_today( Yr=1, Mo=0, Day=0) 

print ('end date', yEDate)
print ('start Date', ySDate)

co="F"

hist_df =a_TDA_IF.TDA_Price_Hist (Symbol=co, StartDTStamp=ySDate, EndDTStamp=yEDate ) 
hist_df

04/18/21
<built-in method timestamp of datetime.datetime object at 0x00000296DF754ED0>
end date 1618807834
start Date 1587271834

    symbol   open    high     low  close    volume       datetime
0        F   5.01   5.090   4.910   4.98  71079442  1587358800000
1        F   4.89   4.920   4.720   4.77  82400209  1587445200000
2        F   4.87   4.890   4.750   4.77  62398608  1587531600000
3        F   4.80   4.980   4.770   4.89  61959760  1587618000000
4        F   4.93   4.960   4.800   4.87  54352479  1587704400000
..     ...    ...     ...     ...    ...       ...            ...
246      F  12.50  12.550  12.320  12.38  40422762  1618203600000
247      F  12.39  12.445  12.100  12.20  51555966  1618290000000
248      F  12.20  12.490  12.200  12.24  49877492  1618376400000
249      F  12.30  12.320  12.125  12.24  38209311  1618462800000
250      F  12.32  12.360  12.190  12.23  33132872  1618549200000

[251 rows x 7 columns]

In [ ]:
### working this on 4/18
import requests
import numpy as np
import pandas as pd 
import a_utils


#https://technical-analysis-library-in-python.readthedocs.io/en/latest/
from ta import add_all_ta_features 
from ta.utils import dropna


yAPIk='K4OAZ0RGJBLI4VEBPOXZFUNFACKWPNNF'

yEDate=str(a_utils.epoch_date_stamp()*1000)
ySDate=str(a_utils.epoch_from_today( Yr=1, Mo=0, Day=0)*1000) 

print ('end date', yEDate)
print ('start Date', ySDate)

co="AMD"
ep=r"https://api.tdameritrade.com/v1/marketdata/{}/pricehistory".format(co)

print ('ep=', ep )
pl={'apikey': yAPIk,
     'periodType':'month',
     'period':'1',
    "frequencyType":'daily',
    'frequency':'1',
    'endDate':yEDate,
    'startDate':ySDate,
     'needExtendedHoursDat':'false'
     }

content=requests.get(url=ep,params=pl)
print (content) 

hist_data=content.json()

# 
#https://towardsdatascience.com/all-pandas-json-normalize-you-should-know-for-flattening-json-13eae1dfb7dd
hist_df=pd.json_normalize(hist_data, record_path= ['candles'], meta=["symbol", 'empty'])
hist_df

df_cols=hist_df.columns.tolist() 
df_cols=df_cols[-2:-1]+df_cols[:-2]  # omitting "empty column"
hist_df=hist_df[df_cols]
hist_df 

df1=dropna(hist_df)

hist_df

In [ ]:
### works on 4/6
import requests
import numpy as np
import pandas as pd 
#from a_utils import epoch_date_stamp as EDStamp
import a_utils
#utils.epoch_date_stamp( yYr=0, yMo=1, yDate=1)

#https://technical-analysis-library-in-python.readthedocs.io/en/latest/
from ta import add_all_ta_features 
from ta.utils import dropna


#a_utils.DF2CSV(df1, 'path', 'filenm', tmstr='a')
a_utils.epoch_date_stamp(2021,2,1)

#yTS=a_utils.epoch_date_stamp(2021,1,1)

yAPIk='K4OAZ0RGJBLI4VEBPOXZFUNFACKWPNNF'
ySDate=str(a_utils.epoch_date_stamp(2021,1,1))
yEDate=str(a_utils.epoch_date_stamp(0)) 

ep=r"https://api.tdameritrade.com/v1/marketdata/{}/pricehistory".format('GOOG')
pl={'apikey': yAPIk,
     'periodType':'month',
     'period':'1',
    "frequencyType":'daily',
    'frequency':'1',
    'endDate':yEDate,
    'startDate':ySDate,
     'needExtendedHoursDat':'false'
     }

content=requests.get(url=ep,params=pl)
content
hist_data=content.json()

# 4/08 continue
#https://towardsdatascience.com/all-pandas-json-normalize-you-should-know-for-flattening-json-13eae1dfb7dd
hist_df=pd.json_normalize(hist_data, record_path= ['candles'], meta=["symbol", 'empty'])
hist_df

df_cols=hist_df.columns.tolist() 
df_cols=df_cols[-2:-1]+df_cols[:-2]  # omitting "empty column"
hist_df=hist_df[df_cols]
hist_df 

df1=dropna(hist_df)

df1

In [2]:
import talib


#https://www.geeksforgeeks.org/adding-new-column-to-existing-dataframe-in-pandas/
ySMA=talib.SMA(df1['close'].values, timeperiod=10)

# df1["SMA"]=ySMA ##works   
df1.insert(5,"SMA",  ySMA, True) #works too 
df1

NameError: name 'df1' is not defined

In [1]:
print (df1['datetime'].dtype)

df1['Date']= pd.to_datetime(df1['datetime'], unit='ms')  #wk , input is EPOC 13 digit decimal fomrat, e.g. 1609740000000

print( df1['Date'].dtype)
df1.iLoc[-1,6]

NameError: name 'df1' is not defined

In [ ]:
# new way, (from timestamp to string ) to convert DF to np index to pydatetime
#df2=df1
df1['date1'] =df1['Date'].dt.strftime('%x')  # %x ='%m/%d/%y'
# df. series. range. which is a datetime obj will have strftime function
# https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior


df1
df_TDA=df1
yDSTDA=pd.Series(df_TDA['close'].values, index=df_TDA['Date'])
type(yDSTDA.index)


# works with TechnicalIndicatorsChartPlotter:

In [ ]:
#df1 to np array can convery pd datetime to np timestamp, timestamp is good for matloplib


yNPA= df1.to_numpy()
print('yNPA shape=', yNPA.shape) 

#print (yNPA[:,8].dtype.name) 
#print (yNPA[:,8]) 
#print (yNPA[:,7].dtype.name)  #object
#print (yNPA[:,7]) 

#yNpA1=np.array(yNPA[:,7]) 

#yNpA2=np.datetime_as_string(yNpA1)
#print (yNpA1.dtype.name)  
#print (yNpA1)

#yNpA1=yNpA1.astype("int64")  # before is an object 
# print (yNpA1.dtype.name)   

#nw np.datetime_as_string( yNPA[:,7], unit='D')
#yNPA[:, 9]
#print (yNPA)
# print (yNpDT)
# print (yNPA[:,7])

#n/w: yNpA2=datetime.datetime.fromtimestamp (yNpDT /1000)
# yNpA2=(yNpDT /1000)
#yNpA2=np.datetime_as_string(yNpDT)
#print (yNPA)

print (" type: ",yNPA[1:,8].dtype.name) 
print ( yNPA [0:5 , :] )